/* Add a black background color to the top navigation */
h1.title {
  text-align: center;
}

div.button-div {
  margin: auto;
  width: 60%;
  border: 3px solid green;
  padding: 10px;
}

.grimoire-dropdown {
  font-family: monospace;
}